body {
  background-color : #000000;
  font-family: Montserrat;
  color : #FFF38A;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: auto;


}
.container {
  max-width: 1440px;
  max-height: 1024px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #060447;


}
.top_container {
  margin: auto;
  position: relative;
  display: flex;
}

.logo {
  display: none;
  height: 80px;
  width:80px;
}

.text {
  display: none;
}

.affiche{
  display: none;
}

#poster{
  margin-right: 0;
  margin: auto;
  margin-top: 158px;
  max-width: 422px;
  max-height : 604px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height : 49px;
  margin-bottom: 0;
}
.carroussel_3{
margin-bottom: 0;
position: absolute;
bottom: 0;
}
h2{
margin: 0;


}

p {

  margin-top: 8px;
}

#top_left{
  margin-left: 187px;
  margin-top: 118px;
  max-width: 422px;
}

.bottom_container {
  margin: auto;
  margin-top: 82px;
  padding-bottom: 144px;
  /*background-color: #222222;*/
  display: flex;
  align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
}

li {
  opacity: 30%;
}



.arrows {
  width: 30%;
}
.arrows ul {
  align-items: right;
  justify-content: center;
}
.arrows li:nth-child(2n+1) {
  transform: scale(-1, 1);
  margin-right: 45px;
  }

.bawls{
  width:70%;
  /* margin-left: 15%; */
  margin-right: 15%;
}

.bawls li {
  align-items: center;
  /*margin-left: 168px;*/
}

.active {
  opacity: 100%;
}
